.main-container, .pro-head {
    margin: 1% 0;
}

.pro-container {
    margin: 0 auto;
    width: 500px;
}

.pro-head {
    text-align: center;
}

.pro-label, .pro-input {
    display: block;
}

.pro-input {
    padding: 6px 10px;
    height: 25px;
}

.pro-select {
    height: 35px;
    padding: 0 10px;
}

.pro-input, .pro-select {
    border: 1px solid #333;
    width: 100%;
}

.pro-input, .pro-select, .movie-title, .movie-description, .movie-genre, .movie-rating {
    margin: 5px 0;
}

.act-btn {
    padding: 10px 35px;
    cursor: pointer;
    color: #fff;
    margin: 0 2%;
    border: none;
}

.pro-input, .pro-select, .act-btn {
    border-radius: 13px;
    outline: none;
}

.post-btn {
    background-color:var(--color6);
}

.reset-btn {
    background-color: var(--color7);
}

.pro-toast {
    min-width: max-content;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

/* card */

.main-div {
    position: relative;
    display: inline-flex;
    margin-left: 5%;
    margin-bottom: 2em;
}

.child-div {
    display: block;
    color: var(--color2);
    width: 330px;
    padding: 1rem 2em;
    background: var( --color5);
    border-radius: 10px;
    text-align: center;
}

.text-shadow {
    text-shadow: .1em .1em 0 hsl(200, 86%, 46%);
}

.movie-img {
    height: 230px;
    width: 230px;
    padding: 10px;
    border-radius: 50%;
}


.movie-title {
    font-size: 24px;
}

.movie-description, .movie-genre, .movie-rating {
    font-size: 16px;
}

.star {
    font-size: 20px;
    color: #ccc;
}

.filled {
    color: #ff0;
}

/* card */